{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    {{ with .Site.Params.about }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .headline }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    {{ end }}
    <div class="container">
        <div class="about-container">
            {{ range .Site.Params.about.list }}
                <div class="about-item text-center">
                    {{ if .icon }}
                        <i class="fa fa-{{ .icon }} fa-4x wow bounceIn"></i>
                    {{ end }}
                    {{ with .headline }}
                        <h2 class="section-heading">{{ . }}</h2>
                    {{ end }}
                    {{ if and .headline .description }}
                        <hr class="primary">
                    {{ end }}
                    {{ with .description }}
                        <p class="text-faded">{{ . | markdownify }}</p>
                    {{ end }}
                    {{ if and .buttonText .buttonAction }}
                        <a href="{{ .buttonAction }}" class="btn btn-primary btn-xl wow bounceIn">{{ .buttonText }}</a>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        <div style="text-align: center;">
            <div class="fb-page" data-href="{{ .Site.Params.contact.facebook }}" data-tabs="events" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"></div>
        </div>
    </div>
</section>
