{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="about-container">
            {{ range .Site.Params.about.list }}
                <div class="about-item text-center">
                    {{ if .icon }}
                        <i class="fa fa-{{ .icon }} fa-4x wow bounceIn"></i>
                    {{ end }}
                    {{ with .headline }}
                        <h2 class="section-heading">{{ . }}</h2>
                    {{ end }}
                    {{ if and .headline .description }}
                        <hr class="primary">
                    {{ end }}
                    {{ with .description }}
                        <p class="text-faded">{{ . | markdownify }}</p>
                    {{ end }}
                    {{ if and .buttonText .buttonAction }}
                        <a href="{{ .buttonAction }}" class="btn btn-primary btn-xl">{{ .buttonText }}</a>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
</section>
