{{ "<!-- AIRCRAFT_MAINTENANCE -->" | safeHTML }}
<section class="corporate-arrivals full-height">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Aircraft Maintenance</h2>
                <hr class="primary"/>
                <div class="images">
                    <div class="flight-img" style="background-image: url(../img/maintenance/maintenance1.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/maintenance/maintenance2.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/maintenance/maintenance3.jpg)"></div>
                </div>
                <div>
                    <p>Our award-winning mechanics can help give you the peace of mind that comes from knowing that your aircraft is in top notch condition and has been inspected thoroughly and professionally.</p>

                    <p>The maintenance staff at Southern Maine Aviation cares about you and your safety. We take great pride in our work and consider each customer as friends and family. We also try to make sure you are always informed along the way and included as part of the maintenance process for your aircraft.</p>

                    <p>Our maintenance staff has thousands of hours of experience on almost all General Aviation aircraft, helicopters, experimental and light sport aircraft, plus numerous corporate jets and turbine engines. Maintenance and repair services include:
                        <br/>Annual inspections
                        <br/>Pre-purchase inspections
                        <br/>General preventive maintenance and repairs
                        <br/>Dynamic propeller and rotor system balancing
                        <br/>Engine changes
                        <br/>GPS database updates
                        <br/>Aircraft weighing
                        <br/>Modifications and STC installations
                    </p>
                </div>
                <div>
                        <p>Our mechanics are factory trained and authorized for Rotax engine maintenance and we are an official service center for Robinson Helicopters and Diamond Aircraft.</p>

                        <p>Please call to discuss details for your annual inspection or other repair work.</p>

                        <p>Maintenance Staff:
                            <br/>Tim Hebert, A&P
                            <br/>Ken Daidone A&P, Pilot
                            <br/>Alec Kindred A&P, IA, Pilot
                            <br/>Evin Sarrette, A&P
                            <br/>Brian Westover, A&P IA
                        </p>



                    <p>Annual inspection prices are based on the aircraft, with any necessary repairs charged at the shop hourly labor rate.</p>

                        <p>The shop rate is
                            <br/>$85/hour for fixed-wing aircraft
                            <br/>$90/hour for helicopters
                            <br/>$100/hour for turbine equipment.
                        </p>

                        <p>Please call for more information.</p>
                </div>
            </div>
        </div>
    </div>
</section>
