{{ "<!-- FEES -->" | safeHTML }}
<section id="fees" class="fees bg-primary full-height">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Fees</h2>
                <hr class="primary">
                <div class="fees-description">
                    <p>No Landing Fees</p>

                    <p>City of Sanford Overnight Parking</p>

                    <p>Type of Aircraft	Per Night Charge</p>

                        <p>Single Engine or Helicopter (Piston)	$8.00<br/>
                        Multi Engine Piston	$12.00<br/>
                        Turbo Prop	$30.00<br/>
                            Jets	$45.00</p>

                    <p>One night transient parking waived with fuel purchase-piston only.</p>

                        <p>Handling / see chart below</p>

                    <p>Turbo Prop ........................$75.00	waived for 75 gallon fuel purchase<br/>
                        Light Jets............................$125.00	waived for 100 gallon fuel purchase<br/>
                        Small Jets...........................$150.00	waived for 200 gallon fuel purchase<br/>
                        Midsize Jets.......................$200.00	waived for 300 gallon fuel purchase<br/>
                            Large Jets..........................$350.00	waived for 500 gallon fuel purchase</p>

                    <p>Fuel Discount of $.50 off retail price for purchase of 1000 gallons or more.</p>

                    <p>Other Fees</p>

                        <p>Lav Service	$60.00<br/>
                        Oxygen Top Off	$75.00<br/>
                            GPU Start / Per Hour	$60.00<br/></p>

                    <p>Hangar Space Available</p>

                        <p>Piston Single Engine	$25.00 per night<br/>
                            Piston Twin Engine	$40.00 per night</p>

                        <p>* Multiple Day Discount for 3 days or more<br/>
                        * Monthly Hangar Rates Available<br/>
                    * Currently No Hangar Space for Turbo Props or Jet Aircraft</p>
                </div>
            </div>
        </div>
    </div>
</section>
