{{ "<!-- SERVICES -->" | safeHTML }}
<div class="fly" id="top">
    <!--<div class="pilot-pathway-promo-wrapper">-->
        <!--<div class="pilot-pathway-promo">-->
            <!--<div class="pilot-pathway-promo__image"><a  href="/pilot-pathway"><div class="pilot-pathway__image pilot-pathway__image&#45;&#45;round" style="background-image:url('../img/pilot-pathway/pilot-pathway-5.jpg');"></div></a></div>-->
            <!--<div class="pilot-pathway-promo__description">-->
                <!--<div class="pilot-pathway-promo__title">Pilot Pathway</div>-->
                <!--<div class="pilot-pathway-promo__text">Take out Pilot Pathway quiz to see all the ways Southern Maine Aviation can bring your aviation training to the next level!</div>-->
                <!--<a class="btn btn-primary" href="/pilot-pathway">Pilot Pathway</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <section class="fly-hero full-height bg-dark">
        <div class="split-hero split-hero--reverse">
            <a class="hero-half__container hero-half__container--half-height hero-half__container--left" href="#private-pilot-training">
                <div class="hero-half hero-half--left hero-half--one-left">
                    <div class="hero-half__content-container hero-half__content-container--left">
                        <div class="hero-half__content hero-half__content--left">
                            <h2 class="hero-title">Private Pilot Training</h2>
                        </div>
                    </div>
                </div>
            </a>
            <a class="hero-half__container hero-half__container--half-height hero-half__container--right" href="#instrument-commercial-training">
                <div class="hero-half hero-half--right hero-half--one-right">
                    <div class="hero-half__content-container hero-half__content-container--right">
                        <div class="hero-half__content hero-half__content--right">
                            <h2 class="hero-title">Instrument and Commercial Training</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="split-hero">
            <a class="hero-half__container hero-half__container--half-height hero-half__container--left" href="#tailwheel-training">
                <div class="hero-half hero-half--left hero-half--two-left">
                    <div class="hero-half__content-container hero-half__content-container--left">
                        <div class="hero-half__content hero-half__content--left">
                            <h2 class="hero-title">Tailwheel Training</h2>
                        </div>
                    </div>
                </div>
            </a>
            <a class="hero-half__container hero-half__container--half-height hero-half__container--right" href="#backcountry-training">
                <div class="hero-half hero-half--right hero-half--two-right">
                    <div class="hero-half__content-container hero-half__content-container--right">
                        <div class="hero-half__content hero-half__content--right">
                            <h2 class="hero-title">Backcountry Experience Training</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="split-hero split-hero--reverse">
            <a class="hero-half__container hero-half__container--half-height hero-half__container--left" href="#instructors">
                <div class="hero-half hero-half--left hero-half--three-left">
                    <div class="hero-half__content-container hero-half__content-container--left">
                        <div class="hero-half__content hero-half__content--left">
                            <h2 class="hero-title">Instructors</h2>
                        </div>
                    </div>
                </div>
            </a>
            <a class="hero-half__container hero-half__container--half-height hero-half__container--right" href="#fleet">
                <div class="hero-half hero-half--right hero-half--three-right">
                    <div class="hero-half__content-container hero-half__content-container--right">
                        <div class="hero-half__content hero-half__content--right">
                            <h2 class="hero-title">Our Fleet</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="down-button"><a href="#private-pilot-training" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
    </section>
    <section id="private-pilot-training" class="full-height">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Private Pilot Training</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img" style="background-image: url(../img/fly/private-pilot-training/1.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/fly/private-pilot-training/2.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/fly/private-pilot-training/3.jpg)"></div>
                </div>
                <div class="col-lg-12">
                    <p>Has the time come for you to live out your dream of learning to fly? We do this every day!</p>
                    <p>We can help you work out a feasible and effective way to earn your private pilot certificate and have a great time doing it. We can formulate a plan around your schedule so that you can work, attend school, and make flying a part of your life too.  We have a diverse population of students and renters from all walks of life and we take pride in working with each individual to successfully achieve their private pilot certificate. Give the gift of flight, students can start as young as 16!</p>

                    <p>Formulating a plan around your schedule creates a feasible and effective way to earn your private pilots certificate. We take pride in working with each individual to successfully achieve their private pilots license.</p>
                    <div class="text-center"><a href="/PDF/SMA-brochure.pdf" target="_blank" class="btn btn-primary" style="margin: 10px auto;">Check out this fun flier for some details!</a></div>
                    <div  class="bullet-list-container">
                        <div class="bullet-list">
                            ✈ Two FAA approved training options available<br/>
                            ✈ Self-study internet ground training available<br/>
                            ✈ Convenient Online Scheduling<br/>
                            ✈ iPad with charts provided for each aircraft<br/>
                            ✈ Modern, immaculate fleet of aircraft<br/>
                        </div>
                        <div class="bullet-list">
                            ✈ Formal Classroom Style Ground School Available<br/>
                            ✈ On site testing center for FAA exams<br/>
                            ✈ Syllabus structured training<br/>
                            ✈ Pilot supplies and materials available on site<br/>
                        </div>
                    </div>
                </div>
                <div class="text-center"><a href="#questions" class="btn btn-primary" style="margin: 20px auto 90px auto;">Commonly asked questions</a></div>
                <div class="down-button"><a href="#instrument-commercial-training" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="instrument-commercial-training" class="bg-primary full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Instrument and Commercial Training</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img" style="background-image: url(../img/fly/instrument-commercial-training/1.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/fly/instrument-commercial-training/2.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/fly/instrument-commercial-training/3.jpg)"></div>
                </div>
                <div class="col-lg-6">
                    <h3 class="text-center">Instrument Training</h3>
                    <p>
                        Clouds? Weather? Enhance your skills and your safety and experience level with instrument training.  New England weather offers us the opportunity to get some great instrument flying experience, and it allows us to practice good judgement and saying “no way today!” We can plan a customized course of instrument flight and ground training that works for you! Our instrument instruction is challenging! And if the weather is just too awful to fly, we can keep making progress in our motion-equipped Redbird simulator.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3 class="text-center">Commercial Training</h3>
                    <p>
                        Thinking about making aviation a career or second job? Advancing your flying skills by obtaining a commercial certificate can open doors to an aviation career. We can help you make this happen! Based on your experience, we can plan a customized course of training that will work for you and have a good time doing it. Most of our instructors have airline, corporate, or military backgrounds and we will train you to fly as professionally as we can. Are you ready for a challenge?
                    </p>
                </div>
                <div class="col-lg-12 text-center" style="">
                    <div style="width: 50%; min-width: 330px; margin: 40px auto; border: solid 2px lightgray; border-left: none; border-right: none; border-radius: 2px; padding-top: 16px;">
                        <p>We are an FAA Approved Flight School.<br/>
                            Part 141 or 61 training is available.</p>
                        <p><a href="/#contact">Give us a call if you have questions!</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        The Sanford Seacoast Regional Airport is a great location for instrument training. The airport has a variety of instrument approaches and close to the Portland and Portsmouth airspaces. Depart to the north and talk to Portland Approach, depart to the south and talk to Boston! And if the weather is just too awful to fly then we can utilize the full motion <a href="#redbird">Redbird Simulator</a> to continue the progress in your training. Give us a call and we can answer your questions!
                    </p>
                </div>
                <div class="down-button"><a href="#backcountry-training" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="backcountry-training" class="bg-dark full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Backcountry Experience Training</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img flight-img--single-wide" style="background-image: url(../img/fly/backcountry-training/1.jpg)"></div>
                </div>
                <div>
                    <p style="font-size:24px; font-style:italic; width: 60%; min-width: 300px; margin: 40px auto;">Are you looking to expand your light aircraft experiences? In our best New England summer weather, learn how to get in and out of small grass and dirt strips near the White Mountains and along the coast of Maine. We have dozens of great charted and non-charted airports that we are able to fly into! We can bring a picnic lunch, stop for ice cream at a dairy farm, and buy lobster for dinner along the coast! The options for this four hour adventure are nearly limitless.  No previous experience required but you must at least have a student pilot certificate.
                    </p>
                    <div class="text-center"><a href="/#contact" class="btn btn-primary btn-xl wow bounceIn">Call or email to inquire!</a></div>
                </div>
                <div class="down-button"><a href="#tailwheel-training" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="tailwheel-training" class="full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tailwheel Training</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img flight-img--single-wide flight-img--tall" style="background-image: url(../img/fly/tailwheel-training/1.jpg)"></div>
                </div>
                <div>
                    <p style="font-size:24px; font-style:italic; width: 60%; min-width: 300px; margin: 40px auto;">
                        Some pilots really love to fly tailwheel airplanes and for them we have a Citabria. Ours was built in 2004, though the design dates back to Grandpa’s time. It is truly “stick and rudder” flying, with fantastic visibility. If you want to get your tailwheel endorsement and open the doors to a whole new world of aircraft and experiences then look no further. We’d be happy to discuss the training with you!
                    </p>
                    <div class="text-center"><a href="/#contact" class="btn btn-primary btn-xl wow bounceIn">Give us a call or email and get started!</a></div>
                </div>
                <div class="down-button"><a href="#instructors" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="instructors" class="bg-primary full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Instructors</h2>
                    <hr class="primary">
                </div>
                <div class="instructors">
                    {{ range .Site.Params.instructors.list }}
                    <div class="instructor">
                        {{ with .title }}
                        <div class="instructor__title">{{ . | markdownify }}</div>
                        {{ end }}
                        {{ with .availability }}
                        <div class="instructor__availability">{{ . | markdownify }}</div>
                        {{ end }}
                        {{ if and .imageUrl (not (eq .showImage false)) }}
                            <div class="instructor__photo-container">
                                <div class="instructor__photo"><img src="../img/instructors/{{ .imageUrl }}"></div>
                                {{ if and .image2Url (not (eq .showImage2 false)) }}
                                <div class="instructor__photo instructor__photo--overlay"><img src="../img/instructors/{{ .image2Url }}"></div>
                                {{ end }}
                            </div>
                        {{ end }}
                        {{ if or .title .description }}
                        <div class="instructor__details">
                            {{ with .description }}
                            <div class="instructor__description">{{ . | markdownify }}</div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                <div class="down-button"><a href="#fleet" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section class="fleet" id="fleet">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Fleet</h2>
                    <hr class="primary">
                </div>
                <div class="fleet-items">
                    {{ range .Site.Params.fleet.list }}
                    <div class="fleet-item" {{ if .anchorId }}id="{{ .anchorId }}"{{ end }}>
                        {{ with .title }}
                        <div class="fleet-item__title">{{ . | markdownify }}</div>
                        {{ end }}
                        {{ if and .imageUrl (not (eq .showImage false)) }}
                        <div class="fleet-item__photo"><img src="../img/fleet/{{ .imageUrl }}"></div>
                        {{ end }}
                        {{ if .description }}
                        <div class="fleet-item__details">
                            {{ with .description }}
                            <div class="fleet-item__description">{{ . | markdownify }}</div>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ with .pricing }}
                        <div class="pricing">
                            Pricing: <span class="price">{{ . | markdownify }}</span>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                <div class="down-button"><a href="#questions" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section class="questions bg-dark full-height" id="questions">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Commonly Asked Questions</h2>
                    <hr class="primary">
                    <div class="question-items">
                        {{ range .Site.Params.questions.list }}
                        <div class="question-and-answer">
                            {{ with .question }}
                            <div class="question">
                                {{ . | markdownify }}
                            </div>
                            {{ end }}
                            {{ with .answer }}
                            <div class="answer">
                                {{ . | markdownify }}
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div class="down-button"><a href="#top" class="btn"><i class="fa fa-arrow-circle-up fa-4x wow bounceInDown page-scroll"></i></a></div>
    </section>
</div>
