{{ "<!-- SERVICES -->" | safeHTML }}
<div class="fly" id="top">
    <!--<div class="pilot-pathway-promo-wrapper">-->
        <!--<div class="pilot-pathway-promo">-->
            <!--<div class="pilot-pathway-promo__image"><a  href="/pilot-pathway"><div class="pilot-pathway__image pilot-pathway__image&#45;&#45;round" style="background-image:url('../img/pilot-pathway/pilot-pathway-5.jpg');"></div></a></div>-->
            <!--<div class="pilot-pathway-promo__description">-->
                <!--<div class="pilot-pathway-promo__title">Pilot Pathway</div>-->
                <!--<div class="pilot-pathway-promo__text">Take out Pilot Pathway quiz to see all the ways Southern Maine Aviation can bring your aviation training to the next level!</div>-->
                <!--<a class="btn btn-primary" href="/pilot-pathway">Pilot Pathway</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <section class="fly-hero full-height bg-dark">
        <div class="split-hero split-hero--reverse">
            <a class="hero-half__container hero-half__container--half-height hero-half__container--left" href="#private-pilot-training">
                <div class="hero-half hero-half--left hero-half--one-left">
                    <div class="hero-half__content-container hero-half__content-container--left">
                        <div class="hero-half__content hero-half__content--left">
                            <h2 class="hero-title">Private Pilot Training</h2>
                        </div>
                    </div>
                </div>
            </a>
            <a class="hero-half__container hero-half__container--half-height hero-half__container--right" href="#instrument-commercial-training">
                <div class="hero-half hero-half--right hero-half--one-right">
                    <div class="hero-half__content-container hero-half__content-container--right">
                        <div class="hero-half__content hero-half__content--right">
                            <h2 class="hero-title">Instrument and Commercial Training</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="split-hero">
            <a class="hero-half__container hero-half__container--half-height hero-half__container--left" href="#tailwheel-training">
                <div class="hero-half hero-half--left hero-half--two-left">
                    <div class="hero-half__content-container hero-half__content-container--left">
                        <div class="hero-half__content hero-half__content--left">
                            <h2 class="hero-title">Tailwheel Training</h2>
                        </div>
                    </div>
                </div>
            </a>
            <a class="hero-half__container hero-half__container--half-height hero-half__container--right" href="#backcountry-training">
                <div class="hero-half hero-half--right hero-half--two-right">
                    <div class="hero-half__content-container hero-half__content-container--right">
                        <div class="hero-half__content hero-half__content--right">
                            <h2 class="hero-title">Backcountry Experience Training</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="split-hero split-hero--reverse">
            <a class="hero-half__container hero-half__container--half-height hero-half__container--left" href="#instructors">
                <div class="hero-half hero-half--left hero-half--three-left">
                    <div class="hero-half__content-container hero-half__content-container--left">
                        <div class="hero-half__content hero-half__content--left">
                            <h2 class="hero-title">Instructors</h2>
                        </div>
                    </div>
                </div>
            </a>
            <a class="hero-half__container hero-half__container--half-height hero-half__container--right" href="#fleet">
                <div class="hero-half hero-half--right hero-half--three-right">
                    <div class="hero-half__content-container hero-half__content-container--right">
                        <div class="hero-half__content hero-half__content--right">
                            <h2 class="hero-title">Our Fleet</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="down-button"><a href="#private-pilot-training" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
    </section>
    <section id="private-pilot-training" class="full-height">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Private Pilot Training</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img" style="background-image: url(../img/fly/private-pilot-training/1.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/fly/private-pilot-training/2.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/fly/private-pilot-training/3.jpg)"></div>
                </div>
                <div>
                    <p>Has the time come for you to live out your dream of learning to fly? We do this every day!</p>
                    <p>We can help you work out a feasible and effective way to earn your private pilot certificate and have a great time doing it. We can formulate a plan around your schedule so that you can work, attend school, and make flying a part of your life too.  We have a diverse population of students and renters from all walks of life and we take pride in working with each individual to successfully achieve their private pilot certificate. Give the gift of flight, students can start as young as 16!</p>

                    <p>Formulating a plan around your schedule creates a feasible and effective way to earn your private pilots certificate. We take pride in working with each individual to successfully achieve their private pilots license.</p>
                    <div class="text-center"><a href="/PDF/SMA-brochure.pdf" target="_blank" class="btn btn-primary" style="margin: 10px auto;">Check out this fun flier for some details!</a></div>
                    <div  class="bullet-list-container">
                        <div class="bullet-list">
                            ✈ Two FAA approved training options available<br/>
                            ✈ Self-study internet ground training available<br/>
                            ✈ Convenient Online Scheduling<br/>
                            ✈ iPad with charts provided for each aircraft<br/>
                            ✈ Modern, immaculate fleet of aircraft<br/>
                        </div>
                        <div class="bullet-list">
                            ✈ Formal Classroom Style Ground School Available<br/>
                            ✈ On site testing center for FAA exams<br/>
                            ✈ Syllabus structured training<br/>
                            ✈ Pilot supplies and materials available on site<br/>
                        </div>
                    </div>
                </div>
                <div class="text-center"><a href="#questions" class="btn btn-primary" style="margin: 20px auto 90px auto;">Commonly asked questions</a></div>
                <div class="down-button"><a href="#instrument-training" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="instrument-commercial-training" class="bg-primary full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Instrument and Commercial Training</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img" style="background-image: url(../img/fly/instrument-commercial-training/1.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/fly/instrument-commercial-training/2.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/fly/instrument-commercial-training/3.jpg)"></div>
                </div>
                <div>
                    <p>Clouds?  Weather?  Enhance your skills and experience level.  We can plan a course of instrument training that works for you. We offer both part 61 or 141 instrument training based on your experience level and what makes the most sense for you.</p>

                    <p style="font-size:28px; font-style:italic; width: 60%; min-width: 300px; margin: 40px auto;">The Sanford Seacoast is a great instrument training location! And if the weather is just too awful to fly then we can always utilize our AATD Redbird simulator to keep your instrument progress going.</p></p>

                    <p>Our ATTD Redbird simulator can help you attune your skills on the ground and for when weather doesn’t allow for airplane use.</p>
                    <p>
                        Advancing your flying skills with a commercial license creates open doors in an aviation career. </p>
                    <p>
                        With both Part 61 and 141 training programs available, you are able to choose which path works best for you. Our complex and technically advanced aircraft will give you the needed experience to meet federal requirements.
                    </p>
                </div>
                <div class="down-button"><a href="#commercial-training" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="backcountry-training" class="bg-dark full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Backcountry Experience Training</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img flight-img--single-wide" style="background-image: url(../img/fly/backcountry-training/1.jpg)"></div>
                </div>
                <div>
                    <p style="font-size:24px; font-style:italic; width: 60%; min-width: 300px; margin: 40px auto;">Are you looking to expand your light aircraft experiences? In our best New England summer weather, learn how to get in and out of small grass and dirt strips near mountains and along the coast. No previous experience required.
                    </p>
                </div>
                <div class="down-button"><a href="#tailwheel-training" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="tailwheel-training" class="full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tailwheel Training</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img flight-img--single-wide flight-img--tall" style="background-image: url(../img/fly/tailwheel-training/1.jpg)"></div>
                </div>
                <div>
                    <p style="font-size:24px; font-style:italic; width: 60%; min-width: 300px; margin: 40px auto;">
                        Some pilots really love to fly tailwheel
                        airplanes and for them we have a Citabria.
                        Ours was built in 2004, though the design
                        dates back to Grandpa’s time. It is truly
                        “stick and rudder” flying, with fantastic
                        visibility.
                    </p>
                </div>
                <div class="down-button"><a href="#instructors" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="instructors" class="bg-primary full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Instructors</h2>
                    <hr class="primary">
                </div>
                <div class="instructors">
                    {{ range .Site.Params.instructors.list }}
                    <div class="instructor">
                        {{ with .title }}
                        <div class="instructor__title">{{ . | markdownify }}</div>
                        {{ end }}
                        {{ with .availability }}
                        <div class="instructor__availability">{{ . | markdownify }}</div>
                        {{ end }}
                        {{ if and .imageUrl (not (eq .showImage false)) }}
                            <div class="instructor__photo-container">
                                <div class="instructor__photo"><img src="../img/instructors/{{ .imageUrl }}"></div>
                                {{ if and .image2Url (not (eq .showImage2 false)) }}
                                <div class="instructor__photo instructor__photo--overlay"><img src="../img/instructors/{{ .image2Url }}"></div>
                                {{ end }}
                            </div>
                        {{ end }}
                        {{ if or .title .description }}
                        <div class="instructor__details">
                            {{ with .description }}
                            <div class="instructor__description">{{ . | markdownify }}</div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                <div class="down-button"><a href="#fleet" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section class="fleet" id="fleet">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Fleet</h2>
            <hr class="primary">
        </div>
        <div class="fleet-items">
            {{ range .Site.Params.fleet.list }}
            <div class="fleet-item">
                {{ with .title }}
                <div class="fleet-item__title">{{ . | markdownify }}</div>
                {{ end }}
                {{ if and .imageUrl (not (eq .showImage false)) }}
                <div class="fleet-item__photo"><img src="../img/fleet/{{ .imageUrl }}"></div>
                {{ end }}
                {{ if or .title .description }}
                <div class="fleet-item__details">
                    {{ with .description }}
                    <div class="fleet-item__description">{{ . | markdownify }}</div>
                    {{ end }}
                </div>
                {{ end }}
                {{ with .pricing }}
                <div class="pricing">
                    Pricing: <span class="price">{{ . | markdownify }}</span>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="down-button"><a href="#questions" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
    </section>
    <section class="questions bg-dark full-height" id="questions">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Commonly Asked Questions</h2>
                    <hr class="primary">
                    <div class="question-items">
                        {{ range .Site.Params.questions.list }}
                        <div class="question-and-answer">
                            {{ with .question }}
                            <div class="question">
                                {{ . | markdownify }}
                            </div>
                            {{ end }}
                            {{ with .answer }}
                            <div class="answer">
                                {{ . | markdownify }}
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div class="down-button"><a href="#top" class="btn"><i class="fa fa-arrow-circle-up fa-4x wow bounceInUp page-scroll"></i></a></div>
    </section>
</div>
