{{ "<!-- SERVICES -->" | safeHTML }}
<section class="fly">
    <div class="pilot-pathway-promo">
        <div class="pilot-pathway-promo__image"><a  href="/pilot-pathway"><div class="pilot-pathway__image" style="background-image:url('../img/pilot-pathway/pilot-pathway-4.jpg');"></div></a></div>
        <div class="pilot-pathway-promo__description">
            <div class="pilot-pathway-promo__title">Pilot Pathway</div>
            <div class="pilot-pathway-promo__text">Take out Pilot Pathway quiz to see all the ways Southern Maine Aviation can bring your aviation training to the next level!</div>
            <a class="btn btn-primary" href="/pilot-pathway">Pilot Pathway</a>
        </div>
    </div>
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Fleet</h2>
        <hr class="primary">
    </div>
    <div class="fleet-items">
        {{ range .Site.Params.fleet.list }}
            <div class="fleet-item">
                {{ with .title }}
                    <div class="fleet-item__title">{{ . | markdownify }}</div>
                {{ end }}
                {{ if and .imageUrl (not (eq .showImage false)) }}
                    <div class="fleet-item__photo"><img src="../img/fleet/{{ .imageUrl }}"></div>
                {{ end }}
                {{ if or .title .description }}
                    <div class="fleet-item__details">
                        {{ with .description }}
                            <div class="fleet-item__description">{{ . | markdownify }}</div>
                        {{ end }}
                    </div>
                {{ end }}
                {{ with .pricing }}
                <div class="pricing">
                    Pricing: <span class="price">{{ . | markdownify }}</span>
                </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
</section>
