{{ "<!-- FUEL -->" | safeHTML }}
<section id="fuel" class="fuel bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Fuel</h2>
                <hr class="primary">
                <div class="fuel-description">
                    <p>Southern Maine Aviation has full service Jet A and 100LL during business hours, plus self service for Jet A, Avgas, and Mogas at all hours. The self-serve pumps for Avgas and Jet A are on the main ramp on the northeast side. The self-serve Mogas is on the west side next to the Big Blue Hangar on taxiway C.</p>
                    <p>After-hours services are available upon request (call <a href="tel:207-651-9308">207-651-9308</a>).</p>
                </div>
                <div class="fuel-table">
                <table>
                    <tr>
                        <th></th>
                        <th>Full-Service</th>
                        <th>Self-Service</th>
                    </tr>
                    <tr>
                        <td>Jet A (premix)</td>
                        <td>$5.75</td>
                        <td>$5.75</td>
                    </tr>
                    <tr>
                        <td>Avgas 100LL</td>
                        <td>$6.75</td>
                        <td>$6.25</td>
                    </tr>
                    <tr>
                        <td>Mogas (91-oct. ethanol free)</td>
                        <td>N/A</td>
                        <td>$6.50</td>
                    </tr>
                </table>
                We also offer Phillips 66 Partners-Into-Plane contract fuel.<br/>
                    You can also check out our fuel prices and other information on <a target="_blank" href="http://www.airnav.com/airport/KSFM">Airnav - KSFM</a>
                </div>
                <div class="fuel-note">Please note: Sold or dispensed Avgas is intended for aviation use ONLY, pursuant to The Clean Air Act (CAA), Section 211(k)5.</div>
            </div>
        </div>
    </div>
</section>
