{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="slick-carousel slick-carousel-hero">
        {{ range $index, $element := .Site.Params.hero.list }}
            <div class="hero-slide" style="background-image: url(../img/hero/{{ add $index 1 }}.jpg);">
                <div class="header-content">
                    <div class="header-content-inner">
                        {{ with $element.slogan }}
                            <h1>{{ . | markdownify  }}</h1>
                        {{ end }}
                        {{ if and $element.slogan $element.subtitle }}
                            <hr>
                        {{ end }}
                        {{ with $element.subtitle }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                        {{ with $element.buttonText }}
                            <a href="{{$element.buttonAction}}" {{ if $element.buttonTarget }} target="{{ $element.buttonTarget }}" {{ end }} class="btn btn-primary btn-xl page-scroll wow bounceIn">{{ . }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</header>
