{{ "<!-- SERVICES -->" | safeHTML }}
<div class="multi-engine" id="top">
    <section id="multi-engine" class="full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Multi-Engine Training Programs</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img flight-img--single-wide flight-img--taller" style="background-image: url(../img/multi-engine/main-interior.jpg)"></div>
                </div>
                <div class="col-lg-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam orci sed libero elementum maximus. Donec maximus euismod mauris non accumsan.</p>
                    <p>Integer venenatis risus quis purus faucibus imperdiet. Cras ligula turpis, ultrices ac vestibulum ac, consectetur et ante. Integer luctus odio euismod, viverra felis at, mattis ex. Aliquam feugiat luctus malesuada. Morbi sodales elit at eleifend feugiat. Morbi euismod, enim id lacinia semper, elit massa tincidunt tellus, sit amet mattis risus dolor eget enim. Nunc eleifend nisi odio, vel viverra ligula maximus id. Curabitur sagittis ipsum non tortor vehicula venenatis vel a nisl.</p>

                    <p>Nullam accumsan tincidunt lectus sit amet varius. Phasellus magna urna, ultricies ac lobortis eget, condimentum et ante. Nulla facilisi. Ut sed consequat leo.</p>
                    <div class="text-center"><a href="/" class="btn btn-primary" style="margin: 10px auto;">Mauris pretium!</a></div>
                    <div  class="bullet-list-container">
                        <div class="bullet-list">
                            ✈ Quisque ultrices<br/>
                            ✈ Elit consequat pellentesque varius<br/>
                            ✈ Ipsum elit interdum tellus<br/>
                            ✈ Sed euismod augue<br/>
                            ✈ Nunc in nunc<br/>
                        </div>
                    </div>
                </div>
                <div class="down-button"><a href="#more-info" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="more-info" class="full-height bg-dark">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">More Details</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/multi-engine/1.jpg)"></div>
                    <div class="flight-img" style="background-image: url(../img/multi-engine/main-exterior.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/multi-engine/3.jpg)"></div>
                </div>
                <div class="col-lg-12">
                    <p>Duis vel libero vel arcu interdum elementum. Donec convallis tortor vel sapien auctor accumsan. Praesent faucibus erat porta, ornare enim nec, rutrum felis. Nulla maximus eleifend viverra. Phasellus commodo tortor mauris, quis molestie velit pretium id. Proin dapibus, lorem id semper ullamcorper, sapien leo volutpat massa, in commodo urna eros ultricies nisl. Nulla orci massa, tincidunt ut lacus non, suscipit dapibus erat. Mauris rutrum porta vehicula. Cras ut blandit justo. Mauris gravida vestibulum neque, sit amet pulvinar mauris convallis sit amet. Quisque et accumsan enim. Integer consequat ultrices justo. Nam facilisis arcu est. Morbi aliquam placerat tincidunt.</p>
                </div>
                <div class="text-center"><a href="#contact" class="btn btn-primary" style="margin: 20px auto 20px auto;">Contact us for more information</a></div>
            </div>
        </div>
        <div class="down-button"><a href="#top" class="btn"><i class="fa fa-arrow-circle-up fa-4x wow bounceInDown page-scroll"></i></a></div>
    </section>
</div>
