{{ "<!-- SERVICES -->" | safeHTML }}
<div class="multi-engine" id="top" xmlns="http://www.w3.org/1999/html">
    <section id="multi-engine" class="full-height">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Multi-Engine Training Programs</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img flight-img--single-wide flight-img--taller" style="background-image: url(../img/multi-engine/main-interior.jpg)"></div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <p>We are excited to add this Beechcraft Duchess to our training fleet. This aircraft is immaculate with a new interior, paint, and engines. This is a low time aircraft despite its age and it is ready to work!</p>
                    <p>Why settle for a worn out twin beater for your multi-engine training? Get your multi-engine rating with us in this clean and Garmin G5 glass-equipped aircraft. It is a perfect blend of old and new for your multi-engine training.</p>
                    <p>Our custom programs blend full motion Redbird AATD simulator training and aircraft use to save you money in earning your multi-engine commercial add-on, Multi-Engine CFI, or ATP certificate.</p>
                    <p>Call us today with questions and to get your training scheduled! <a href='tel:2073248919'>207-324-8919</a></p>

                    <div class="text-center"><a href="#more-info" class="btn btn-primary wow bounceIn" style="margin: 10px auto;">Learn More!</a></div>
                    <div  class="bullet-list-container">
                        <div class="bullet-list">
                            ✈ Programs available for multi-engine ratings, MEI, or ATP certificates<br/>
                            ✈ Get your multi-engine rating in as little as 4-5 days, checkride included<br/>
                            ✈ Program can be tailored to meet your experience level<br/>
                            ✈ Taught by high experienced instructors<br/>
                            ✈ Materials to study are sent in advance<br/>
                            ✈ Local accommodations available<br/>
                        </div>
                    </div>
                </div>
                <div class="down-button"><a href="#training-plan" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
            </div>
        </div>
    </section>
    <section id="training-plan" class="full-height bg-primary">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Multi-Engine Training and Plan of Action</h2>
                    <hr class="primary">
                    <h3>4-5 Day Program</h3>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="multi-engine-plan">
                        <p>Study assignments to be emailed and completed prior to the start of training:</p>
                        <div  class="bullet-list-container bullet-list-container--left">
                            <div class="bullet-list">
                                <ul style="display: inline-block;">
                                    <li>FAA Airplane Flying Handbook Chapter 14 Transition to Multi-Engine Airplanes</li>
                                    <li>FAA Commercial Pilot Airmen Certification Standards</li>
                                    <li>BE76 Pilots Operating Handbook</li>
                                    <li>Southern Maine Aviation BE76 N6928H Aircraft Familiarization and Study Guide</li>
                                </ul>
                            </div>
                        </div>

                        <p>This plan assumes that the pilot is single-engine current and proficient, and the practical test is scheduled for day 5.</p>

                        <p style="margin-bottom:40px;">
                        <h4><span style="border-bottom: solid 2px #f98a14;">Day 1 GROUND BRIEFING</span></h4>
                            <p>3-4 hour ground brief and review of BE-76 systems and multi-engine training considerations from study assignments above.</p>
                        </p>

                        <p style="margin-bottom:40px;">
                        <h4><span style="border-bottom: solid 2px #f98a14;">Days 1 & 2 AATD REDBIRD SIMULATOR TRAINING</span></h4>
                        <p>2 AATD simulator sessions (1-1.5 hours each)</p>
                        <div  class="bullet-list-container bullet-list-container--left">
                            <div class="bullet-list">
                                <ul style="display: inline-block;">
                                    <li>AATD Session 1: Normal Procedures and Maneuvers (all ACS required line items)</li>
                                    <li>AATD Session 2: Emergency Procedures and Maneuvers</li>
                                </ul>
                            </div>
                        </div>
                        </p>

                        <p style="margin-bottom:40px;">
                        <h4><span style="border-bottom: solid 2px #f98a14;">Days 1-4 BE76 FLIGHT TRAINING</span></h4>
                        <p>4-6 Aircraft Flights (6 hours of aircraft training, .5 briefing prior to flight)</p>
                        <div  class="bullet-list-container bullet-list-container--left">
                            <div class="bullet-list">
                                <ul style="display: inline-block;">
                                    <li>Flight 1: Aircraft Familiarization Flight, Normal Procedures and Maneuvers</li>
                                    <li>Flight 2: Normal Procedures, introduce Emergency Procedures</li>
                                    <li>Flight 3: Normal Procedures, Emergency Procedures</li>
                                    <li>Flight 4: Normal Procedures, Emergency Procedures</li>
                                    <li>Flight 5: Emergency Procedures</li>
                                    <li>Flight 6: Normal Procedures, Emergency Procedures</li>
                                </ul>
                            </div>
                        </div>
                        </p>

                        <div class="plan-table">
                            <table>
                                <tr>
                                    <th style="width:30%;">Training</th>
                                    <th style="width:32%;">Rate</th>
                                    <th style="width:38%;">Cost for estimated duration </th>
                                </tr>
                                <tr>
                                    <td>Ground Training</td>
                                    <td>$85/ hour</td>
                                    <td>$340 for 4 hours (may be shorter)</td>
                                </tr>
                                <tr>
                                    <td>Redbird AATD Simulator</td>
                                    <td>$165/hour with instructor</td>
                                    <td>$495 for 3 hours ( may not be necessary)</td>
                                </tr>
                                <tr>
                                    <td>Flight Training</td>
                                    <td>$565/hour<br/>$85/ hour flight briefing</td>
                                    <td>$3,390 for 6 hours flight time<br/>$340 for 4 briefings</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td style="font-weight: bold">$4,565 estimated total training</td>
                                </tr>
                                <tr>
                                    <td>Estimated Examiner Fee</td>
                                    <td>$700</td>
                                    <td>$700 (average rate)</td>
                                </tr>
                                <tr>
                                    <td>Use of aircraft for Practical Exam</td>
                                    <td>$565/hr</td>
                                    <td>$848 for 1.5 hour checkride (may be less)</td>
                                </tr>
                                <tr>
                                    <td style="border-bottom:0;">&nbsp;</td>
                                    <td style="border-bottom:0;">&nbsp;</td>
                                    <td style="border-bottom:0;"><div style="font-weight: bold">$6,113 total after successful Practical Test</div></td>
                                </tr>
                                <tr><td colspan="3">Save Money! For every $1,000 you put on account with cash or check we will credit your account 10%, so if you put down $4,000 for training then we will credit you $400</td> </tr>
                            </table>
                        </div>
                    </div>
                    <div class="text-center"><a href="/PDF/2022%20Multi%20Training%20Estimate.pdf" target="_blank" class="btn btn-primary wow bounceIn" style="margin: 10px auto;">Download details</a></div>
                </div>
            </div>
        </div>
        <div class="down-button"><a href="#more-info" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
    </section>
    <section id="more-info" class="full-height bg-dark">
        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading wow bounceIn">More Details</h2>
                    <hr class="primary">
                </div>
                <div class="images">
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/multi-engine/1.jpg)"></div>
                    <div class="flight-img" style="background-image: url(../img/multi-engine/main-exterior.jpg)"></div>
                    <div class="flight-img flight-img--extra" style="background-image: url(../img/multi-engine/3.jpg)"></div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Highly prepared students can expect to be prepared for their checkride in as little as 4 or 5 days (weather permitting)
                    <p>Multi-engine instructor candidates should arrive to training instrument current and proficient

                    <p>Aircraft rate is $425/hour, multi-engine instruction is $80/hour.

                    <p>Contact our Chief Instructor today with questions or to arrange scheduling call <a href='tel:2079773068'>207-977-3068</a> or email <a href="mailto:ajbutton@flyingsma.com">ajbutton@flyingsma.com</a>
                </div>
                <div class="text-center"><a href="#contact" class="btn btn-primary wow bounceIn" style="margin: 20px auto 20px auto;">Contact us for more information</a></div>
            </div>
        </div>
        <div class="down-button"><a href="#top" class="btn"><i class="fa fa-arrow-circle-up fa-4x wow bounceInDown page-scroll"></i></a></div>
    </section>
</div>
