{{ "<!-- NEWS -->" | safeHTML }}
<section class="bg-primary" id="news">
    {{ with .Site.Params.news }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .headline }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    {{ end }}
    <div class="container">
        <div class="news-container">
            {{ range .Site.Params.news.list }}
                <div class="news-item text-center {{ if .imageURL }}news-item--wide{{ end }}">
                    {{ if .icon }}
                        <i class="fa fa-{{ .icon }} fa-4x wow bounceIn"></i>
                    {{ end }}
                    {{ with .headline }}
                        <h2 class="section-heading">{{ . }}</h2>
                    {{ end }}
                    {{ if and .headline .description }}
                        <hr class="primary">
                    {{ end }}
                    {{ with .description }}
                        <p class="text-faded">{{ . | markdownify }}</p>
                    {{ end }}
                    {{ if .imageURL }}
                        {{ if .imageLink }}<a href="{{ .imageLink }}" target="_blank">{{ end }}
                            <img class="news-item__image" src="{{ .imageURL }}"/>
                        {{ if .imageLink }}</a>{{ end }}
                    {{ end }}
                    {{ if and .buttonText .buttonAction }}
                    <p><a href="{{ .buttonAction | safeURL }}" target="{{ .buttonTarget }}" class="btn btn-primary btn-xl wow bounceIn">{{ .buttonText }}</a></p>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        <div style="text-align: center;">
            <div class="fb-page" data-href="{{ .Site.Params.contact.facebook }}" data-tabs="events" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"></div>
        </div>
    </div>
</section>
