{{ "<!-- SCENIC-FLIGHTS -->" | safeHTML }}
<div class="scenic-flights bg-dark">
    <section class="scenic-flights-hero bg-dark">
        <div class="split-hero">
            <a class="hero-half__container hero-half__container--left" href="#scenic-flights">
                <div class="hero-half hero-half--left">
                    <div class="hero-half__content-container hero-half__content-container--left">
                        <div class="hero-half__content hero-half__content--left">
                            <h2 class="hero-title">Scenic Flights</h2>
                        </div>
                    </div>
                </div>
            </a>
            <a class="hero-half__container hero-half__container--right" href="#discovery-flights">
                <div class="hero-half hero-half--right">
                    <div class="hero-half__content-container hero-half__content-container--right">
                        <div class="hero-half__content hero-half__content--right">
                            <h2 class="hero-title">Discovery Flights</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="down-button"><a href="#scenic-flights" class="btn"><i class="fa fa-arrow-circle-down fa-4x wow bounceInUp page-scroll"></i></a></div>
    </section>
    <section class="scenic-discovery-flights-details">
        <div class="scenic-flights-details bg-white" id="scenic-flights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Scenic Flights</h2>
                        <hr class="primary">
                    </div>
                    <div class="images">
                        <div class="flight-img" style="background-image: url(../img/scenic-flights/scenic1.jpg)"></div>
                        <div class="flight-img flight-img--extra" style="background-image: url(../img/scenic-flights/scenic2.jpg)"></div>
                        <div class="flight-img flight-img--extra" style="background-image: url(../img/scenic-flights/scenic3.jpg)"></div>
                    </div>
                    <div>
                        <p>Scenic Flights make great gifts and are a memorable experience!</p>
                        <p>Our typical scenic flights last around an hour and takes you out to the Southern Maine coastline to Nubble Lighthouse, then north along the coast, past Cliff House and Marginal Way. You'll see Perkins Code, the Wells marshlands, Walker's Point, Goose Rocks Beach and Biddeford Pool.</p>
                        <p>Customized tours may also be available.</p>
                    </div>
                    <div>
                        <p>Our airplanes can accommodate up to 3 passengers, depending on weight.
                            Please advise us on passenger weights when you call to schedule.</p>
                    </div>
                    <div>
                        <p>Gift certificates are available for Scenic Flights $260.00 per hour up to 3 passengers
                            (weight limits apply)</p>
                    </div>
                    <a href="#contact" class="btn btn-primary btn-xl wow bounceIn">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="discovery-flights-details bg-primary" id="discovery-flights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Discovery Flights</h2>
                        <hr class="primary">
                    </div>
                    <div class="images">
                        <div class="flight-img" style="background-image: url(../img/scenic-flights/discovery1.jpg)"></div>
                        <div class="flight-img flight-img--extra"style="background-image: url(../img/scenic-flights/discovery2.jpg)"></div>
                        <div class="flight-img flight-img--extra" style="background-image: url(../img/scenic-flights/discovery3.jpg)"></div>
                    </div>
                    <div>
                        <p>Looking for a more hands-on experience? We offer Discovery Flights!</p>
                    </div>
                    <div>
                        <p>These 30 minute flights allow you to take the controls and fly the skies, under the watchful eye of one of our FAA certified Flight Instructors.</p>
                    </div>
                    <div>
                        <p>A Discovery Flight is perfect for the person interested in learning to fly or just the more adventurous sightseer.</p>
                    </div>
                    <div>
                        <p>The cost of the flight is $125.00 which includes a log book, where your flight is entered by your flight instructor and is considered your first flying lesson.</p>
                        <p>Discovery Flights are great gifts for Birthdays, Mother and Father's Day, Graduations, or any reason for giving. Call or stop by for a gift certificate.</p>
                    </div>
                    <a href="#contact" class="btn btn-primary btn-xl wow bounceIn">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
</div>
