<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	{{ partial "head.html" . }}
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.7/dist/cdn.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
</head>
<body id="page-top">
{{ if or .Site.Params.navigation.links.news .Site.Params.navigation.links.services .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.contact }}
	{{ partial "nav.html" . }}
{{ end }}

{{ if .Site.Params.corporate_services }}
	{{ partial "corporate-services.html" . }}
{{ end }}

{{ partial "fees.html" . }}
{{ partial "restaurants.html" . }}
{{ partial "fuel.html" . }}
{{ partial "lodging.html" . }}
{{ partial "ground-transportation.html" . }}
{{ partial "aircraft-maintenance.html" . }}

{{ if .Site.Params.footer }}
	{{ partial "footer.html" . }}
{{ end }}

{{ if .Site.Data.projects }}
	{{ partial "modals.html" . }}
{{ end }}

{{ partial "js.html" . }}

{{ template "_internal/google_analytics.html" . }}
</body>
</html>
